/* CSS Document 
 Author Name: Bitpoint
 Creation Date: 29 May 2018
 Description: A default stylesheet for Coffee Landing Page.

------------ TABLE OF CONTENT ------------
- Fonts
- General
- Buttons
- Forms
- Icons
- Banner block
- Features block
- Description block
- Consumers block
- Clients block
- Work block
- Provide block
- Support block
- Money block
- Parners block
- Present blocks
- Full page style
- Animations style
- Mouse style
- Preloader
- Modal
- Callback button
- Total media

*/


/*=============================== 
----- FONTS 
=================================*/

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot');
    src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot');
    src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot');
    src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot');
    src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot');
    src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot');
    src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot');
    src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot');
    src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot');
    src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot');
    src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot');
    src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff') format('woff'), url('../fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/*=============================== 
----- GENERAL 
=================================*/

html,
body,
p {
    font-family: 'Avenir Next', sans-serif;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


/*=============================== 
----- BUTTONS 
=================================*/

.Button {
    padding: 25px 55px;
    display: inline-block;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.Button--middle {
    padding: 20px 40px;
    font-size: 17px;
}

.Button--middle-icon {
    padding: 20px 40px 20px 65px;
    position: relative;
}

.Button--small {
    padding: 15px 40px;
}

.Button--mini {
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 15px;
}

.Button:hover {
    text-decoration: none;
    webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.Button--green {
    background-color: #00bd13;
    color: #fff;
}

.Button--blue {
    background-color: #1091f9;
    color: #fff;
}

.Button--green:hover {
    background-color: #026e0d;
    color: #fff;
}

.Button--blue:hover {
    background-color: #075696;
    color: #fff;
}

.Button--no-active {
    background-color: #878787;
    color: #fff;
    opacity: 1;
    cursor: not-allowed;
}

.Button--no-active:hover {
    background-color: #878787;
}

@media (max-width: 400px) {
    .Button { 
        width: 100%;
    }
}


/*=============================== 
----- FORMS 
=================================*/

input[type="text"],
input[type="tel"],
input[type="email"] {
    background: none;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="button"] {
    border: none;
}

select.form-control {
    padding: 5px;    
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid;
    border-radius: 0;
    background: none;
}

select.Form__select-black {
    border-color: #000;
    color: #000;
}

select.Form__select-white {
    border-color: #fff;
    color: #fff;
}

select.Form__select-white option {
    background: none;
    color: #000;
}

.Form .form-control:focus {
    color: inherit;
    background: none;
    background-color: inherit;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

.Form--dark .form-control:focus {
    color: #fff;
}

.Form--dark input[type="text"],
.Form--dark input[type="tel"],
.Form--dark input[type="email"] {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.Form--white input[type="text"],
.Form--white input[type="tel"],
.Form--white input[type="email"] {
    color: #000;
    border-bottom: 3px solid #000;
}

.Form input[type="text"].isValid,
.Form input[type="tel"].isValid,
.Form input[type="email"].isValid,
.Form select.isValid:focus,
.Form select.isValid {
    color: #00ff00;
    border-bottom: 3px solid #00ff00;
}

.Form input[type="text"].noValid,
.Form input[type="tel"].noValid,
.Form input[type="email"].noValid,
.Form select.noValid:focus,
.Form select.noValid  {
    color: #ff1744;
    border-bottom: 3px solid #ff1744;
}

.Form--dark input::-webkit-input-placeholder {
    color: #fff;
}

.Form--dark input:-ms-input-placeholder {
    color: #fff;
}

.Form--dark input::-ms-input-placeholder {
    color: #fff;
}

.Form--dark input::placeholder {
    color: #fff;
}

.Form--white input::-webkit-input-placeholder {
    color: #000;
}

.Form--white input:-ms-input-placeholder {
    color: #000;
}

.Form--white input::-ms-input-placeholder {
    color: #000;
}

.Form--white input::placeholder {
    color: #000;
}

.Form__group {
    position: relative;
}

.Form__group--bottom-indent {
    margin-bottom: 10px;
}

.Form__group--top-indent {
    margin-top: 5px;
}

.Form__group--bottom-indent:last-child {
    margin-bottom: 0;
}

.Form__label {
    margin: 0;
}

.Form__label--white {
    color: #fff;
}

.Form__label--dark {
    color: #000;
}

.Form__label--absolute {
    position: absolute;
    top: 6px;
    left: 24px;
    -webkit-transform: translateY(0px) translateX(0px) scale(1);
    transform: translateY(0px) translateX(0px) scale(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.Form__input--label:focus+.Form__label,
.Form__input--label.has-value+.Form__label {
    transform: translateY(-18px) translateX(-12px) scale(0.7);
}
.Form__input--label-small-size:focus+.Form__label,
.Form__input--label-small-size.has-value+.Form__label {
    transform: translateY(-16px) translateX(-12px) scale(0.7);
}

/*=============================== 
----- ICONS 
=================================*/

.icon {
    position: relative;
    width: 25px;
    height: 25px;
    display: inherit;
}

.icon-phone:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/phone_icon.png) no-repeat top left;
    background-size: 100%;

}

/*=============================== 
----- BANNER 
=================================*/

.Banner {
    position: relative;
    background: url(../images/bg-banner.jpg) top left no-repeat;
    background-size: cover;
}

.Banner__content .Button {
    margin-top: 20px;
}

.Banner__linkBack {
    position: absolute;
    top: 50px;
    right: 90px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.Banner__linkBack:hover {
    color: #ff1744;
    text-decoration: none;
}

.Banner__header {
    font-family: 'Avenir Next', sans-serif;
    font-size: 72px;
    line-height: normal;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
}

.Banner__text {
    margin-left: auto;
    margin-top: 34px;
    max-width: 530px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 24px;
    line-height: normal;
    text-align: right;
    color: #ffffff;
}

.Banner__buttons div[class*="col-lg-6"]  {
    padding-left: 5px;
    padding-right: 5px;
}

.Banner__video-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #00bd13;
}

.Banner__video-icon {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;    
    top: 10px;
    left: 2px;    
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent white;
}

@media (min-width: 1200px) {
    .Banner .container {
        max-width: 1350px;
    }
}

@media (max-width: 768px) {
    
    .Banner__linkBack {
        top: 10px;
        right: 20px;
        font-size: 13px;
        font-weight: 600;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .Banner__header {
        font-size: 37px;
    }

    .Banner__buttons div[class*="col-lg-6"]  {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*=============================== 
----- FEATURES BLOCK 
=================================*/

.Features__header {
    margin: 0 auto 20px;
    max-width: 440px;
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.Features__subHeader {
    font-size: 20px;
    color: #000;
}

.Features__items {
    margin-top: 30px;
}

.Features__item {
    margin-top: 30px;
    padding: 0 40px;
    opacity: 0;
}

.Features__item-content {
    min-height: 180px;
    border: 5px solid rgba(62, 39, 35, .3);
    border-radius: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Features__item-content:hover {
    border-color: rgba(62, 39, 35, 1);
}

.Features__name {
    margin-bottom: 0;
    font-size: 18px;
    line-height: normal;
    color: #000;
}

.Features__value {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    color: #3e2723;
}

.Features__description {
    margin-top: 30px;
    font-size: 18px;
    line-height: normal;
    color: #888888;
}

@media (min-width: 1200px) {
    .Features .container {
        max-width: 1440px;
    }
}

@media (max-width: 768px) {

    .Features__item {
        opacity: 1;
    }

    .Features__value {
        font-size: 25px;
    }

    .Features__items {
        margin-top: 0;
    }
}


/*=============================== 
----- DESCRIPTION BLOCK 
=================================*/

.Description__content {
    width: 60%;
    height: 100vh;
    position: relative;
    z-index: 1;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #000;
}

.Description__wrapper {
    max-width: 600px;
}

.Description__header {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.Description__header-line {
    margin-top: 25px;
    margin-bottom: 60px;
    display: inline-block;
    width: 193px;
    height: 4px;
    background-color: #fff;
}

.Description__text {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.Description__image {
    display: inline-block;
    width: 40%;
    height: 100vh;
    position: relative;
    z-index: 0;
    background: url(../images/desc_img.png) no-repeat top right;
    background-size: cover;
}

@media (max-width: 768px) {

    .Description.section {
        padding: 0;
    }

    .Description__content {
        padding: 40px 15px 40px;
        width: 100%;
        height: 100%;
        display: block;
        float: none;
    }

    .Description__header {
        font-size: 28px;
    }

    .Description__header-line {
        margin-bottom: 30px;
        width: 90px;
    }

    .Description__image {
        display: none;
    }
}


/*=============================== 
----- CONSUMERS BLOCK 
=================================*/

.Consumers {
    background-color: #e3f2fd;
}

.Consumers__item {
    margin-top: 100px;
}

.Consumers__header {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.Consumers__text {
    margin-top: 30px;
    font-size: 18px;
    color: #000000;
}

.Consumers__icon {
    height: 98px;
}

.Consumers__icon-more {
    margin-bottom: 0;
    height: 98px;
    font-size: 72px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
    color: #00bd13;
}

@media (min-width: 1200px) {

    .Consumers .container {
        max-width: 1350px;
    }
}

@media (max-width: 768px) {

    .Consumers__item {
        margin-top: 35px;
    }
}


/*=============================== 
----- CLIENTS BLOCK 
=================================*/

.Clients__header {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.Clients__icons {
    margin-top: 70px;
    width: 100%;
}

.Clients__description {
    margin-top: 30px;
    font-size: 18px;
    color: #000000;
}

@media (max-width: 768px) {

    .Clients__header {
        font-size: 28px;
    }
}


/*=============================== 
----- WORK BLOCK 
=================================*/

.Work {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#724f48), to(#3e2723));
    background-image: -webkit-linear-gradient(top, #724f48, #3e2723);
    background-image: -o-linear-gradient(top, #724f48, #3e2723);
    background-image: linear-gradient(to bottom, #724f48, #3e2723);
}

.Work__header {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.Work__item {
    margin-top: 100px;
}

.Work__item-image {
    position: absolute;
}

.Work__item-image--middle {
    top: -60%;
    left: 22%;
}

.Work__item-image--center {
    top: -22%;
    left: 22%;
}

.Work__item-content {
    max-width: 500px;
}

.Work__item-header {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.Work__item-text {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.67;
    color: #ffffff;
}

.Work__item-text:first-child {
    margin-top: 20px;
}

@media (max-width: 768px) {

    .Work__item {
        margin-top: 35px;
    }

    .Work__item-image--middle {
        left: 0;
    }

    .Work__item-image--center {
        left: 13px;
    }
}


/*=============================== 
----- PROVIDE BLOCK 
=================================*/

.Provide {
    background-color: #3e2723;
}

.Provide__item {
    margin-top: 100px;
}

.Provide__header {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.Provide__item-image {
    height: 100px;
}

.Provide__text {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    color: #ffffff;
}

@media (min-width: 1200px) {
    .Provide .container {
        max-width: 1350px;
    }
}

@media (max-width: 768px) {

    .Provide.section {
        padding: 0;
    }

    .Provide__item {
        margin-top: 35px;
    }

    .Provide__text {
        font-size: 15px;
    }
}


/*=============================== 
----- SUPPORT BLOCK 
=================================*/

.Support {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#724f48), to(#3e2723));
    background-image: -webkit-linear-gradient(bottom, #724f48, #3e2723);
    background-image: -o-linear-gradient(bottom, #724f48, #3e2723);
    background-image: linear-gradient(to top, #724f48, #3e2723);
}

.Support__header {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.Support__item {
    margin-top: 100px;
}

.Support__item-content--left-indent {
    padding-left: 70px;
}

.Support__item--small-indent {
    margin-top: 40px;
}

.Support__item-image {
    position: absolute;
}

.Support__item-image--left {
    top: -100%;
    left: -20%;
}

.Support__item-image--right {
    top: -75%;
    right: -4%;
}

.Support__item-image--bottom {
    top: auto;
    bottom: -64%;
}

.Support__item-image--top {
    top: -29%;
    left: -20%;
}

.Support__item-header {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.Support__item-text {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.67;
    color: #ffffff;
}

.Support__item-text--large {
    font-size: 24px;
}

.Support__item-text:first-child {
    margin-top: 20px;
}

.Support__icon {
    position: absolute;
    left: 10px;
    top: 24%;
}

@media (max-width: 768px) {

    .Support__item {
        margin-top: 35px;
    }

    .Support__item-content--left-indent {
        padding-left: 0;
    }

    .Support__item-header {
        font-weight: 500;
    }

    .Support__item-image--left {
        top: 0;
        left: 0;
        width: 100%;
    }

    .Support__item-image--right {
        left: 0;
    }

    .Support__icon {
        display: none;
    }
}


/*=============================== 
----- MONEY BLOCK 
=================================*/

.Money__header {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.Money__items {
    margin-top: 30px;
}

.Money__item {
    margin-top: 30px;
    padding: 0 40px;
    opacity: 0;
}

.Money__item-content {
    min-height: 180px;
    border: 5px solid rgba(62, 39, 35, .3);
    border-radius: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Money__item-content:hover {
    border-color: rgba(62, 39, 35, 1);
}

.Money__name {
    margin-bottom: 0;
    font-size: 18px;
    line-height: normal;
    color: #000;
}

.Money__value {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    color: #3e2723;
}

.Money__description {
    margin-top: 30px;
    font-size: 18px;
    line-height: normal;
    color: #888888;
}

@media (min-width: 1200px) {
    .Money .container {
        max-width: 1440px;
    }
}

@media (max-width: 768px) {

    .Money__item {
        opacity: 1;
    }

    .Money__items {
        margin-top: 0;
    }

    .Money__value {
        font-size: 25px;
    }
}


/*=============================== 
----- PARNERS BLOCK 
=================================*/

.Partners__header {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.Partners__items {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Partners__photo {
    border-radius: 50%;
    display: inline-block;
}

.Partners__photo-container {
    text-align: center;
}

.Partners__photo-container--small {
    height: 200px;
}

.Partners__photo-container--large {
    height: 250px;
}

.Partners__item-content {
    margin-top: 20px;
}

.Partners__name {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.Partners__location {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.47;
    font-weight: 300;
    color: rgba(0, 0, 0, .5);
}

.Partners__description {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.47;
    font-weight: 300;
    color: #000000;
}

.Partners__description span {
    font-weight: 600;
}

@media (min-width: 1200px) {
    .Partners .container {
        max-width: 1350px;
    }
}

@media (max-width: 768px) {

    .Partners.section {
        padding-top: 0;
    }

    .Partners__header {
        font-size: 30px;
    }

    .Partners__items {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .Partners__item {
        padding-bottom: 30px;
    }
}


/*=============================== 
----- PRESENT BLOCKS 
=================================*/

.Present--black {
    background-color: #000000;
}

.Present--blue {
    background-color: #e3f2fd;
}

.Present__header {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.Present__header--small-bottom-indent {
    margin-bottom: 10px;
}

.Present__subHeader {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 24px;   
}

.Present__header--white,
.Present__value--white {
    color: #fff;
}

.Present__header--dark,
.Present__value--dark,
.Present__value-text--dark {
    color: #000;
}

.Present__value {
    font-size: 144px;
    line-height: 144px;
    font-weight: bold;
}

.Present__value-text {
    margin-top: 30px;
    font-size: 36px;
    line-height: 36px;
}

.Present__form-wrapper {
    margin-top: 50px;
}

.Present__form-group {
    padding: 30px 0 40px;
}

.Present__form-note {
    font-size: 18px;
    line-height: normal;
}

.Present__form-note--fix-width {
    margin: 0 auto;
    max-width: 650px;
}

.Present__form-note--light {
    color: rgba(255, 255, 255, .5);
}

.Present__form-note--dark,
.Present__subHeader--dark {
    color:rgb(125, 124, 124);;
}

.Present__form-note:last-child {
    margin-top: 50px;
}

@media (max-width: 1200px) {

    .Present__value-text {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {

    .Present__value {
        font-size: 90px;
        line-height: 90px;
    }
}

@media (max-width: 768px) {

    .Present__header {
        font-size: 26px;
    }

    .Present__value {
        font-size: 42px;
        line-height: 42px;
    }

    .Present__form-wrapper {
        margin-top: 25px;
    }

    .Present__form-note {
        font-size: 15px;
    }

    .Form input[type="text"],
    .Form input[type="tel"] {
        margin-bottom: 30px;
    } 
}


/*=============================== 
----- FULL PAGE STYLE 
=================================*/

#fp-nav.right {
    right: 80px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    width: 15px;
    height: 15px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    margin: 0;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    background-color: #7c7c7c;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 15px;
    height: 15px;
    margin: 0;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    margin: 0;
    height: 15px;
    width: 15px;
    background-color: #ff1744;
}

@media (max-width: 1200px) {
    #fp-nav.right {
        right: 20px;
    }
}


/*=============================== 
----- ANIMATIONS STYLE 
=================================*/

@media (min-width: 768px) {
    .js-animation-fadeIn,
    .js-animation-fadeInUp,
    .js-animation-fadeInDown {
        opacity: 0;
    }

    .js-animation-slide-left {
        left: -100%;
    }
}




/*=============================== 
----- MOUSE STYLE 
=================================*/

.Mouse--wrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-100%);
    bottom: 20px;
    z-index: 1;
}

.Mouse {
    width: 30px;
    height: 50px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 14px;
    -webkit-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.Mouse--black {
    border-color: #000;
}

.Mouse span {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    -webkit-animation: vertical-position 1s linear infinite;
    animation: vertical-position 1s linear infinite;
}

.Mouse--black span {
    color: #000;
}

@keyframes vertical-position {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@media (max-width: 768px) {

    .Mouse--wrapper {
        display: none;
    }
}


/*=============================== 
----- Preloader 
=================================*/

#preloader {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    background-color: rgba(93, 64, 55, 0.96);
}

.preloader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-left-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: preloader 0.8s linear infinite;
    animation: preloader 0.8s linear infinite;
    margin: -25px 0 0 -25px;
}

@keyframes preloader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*=============================== 
----- MODAL 
=================================*/

.Modal {
    padding-right: 0!important;
}

.modal-open {
    padding-right: 0!important;    
}

.Modal__content--dark {
    background-color: #000;
    color: #fff;
}

.modal-content {
    border: none;
}

.Modal button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.Modal .modal-dialog {
    max-width: 1000px;
}

.Modal .Modal--video {
    max-width: 700px;
}

.Modal .Modal--video button.close {    
    top: -30px;
    opacity: .7;
    color: #fff;
    text-shadow: none;
}

.Modal .Modal--video button.close:hover {    
    opacity: 1;
    color: #fff;
}

.Modal .modal-body {
    padding: 0;
}

.Modal__body.row {
    margin-left: 0;
    margin-right: 0;
} 

.Modal__right-block--white {
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    background-color: #fff;
    color: #000;
}

.Modal__header {
    font-size: 36px;
    font-weight: bold;
}

.Modal__info-text {
    font-size: 18px;
}

.Modal__form,
.Modal__info {
    padding: 20px 10px;
}

.Modal__form-group {
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .Modal .Form input[type="text"], .Form input[type="tel"] {
        margin-bottom: 0px;
    }
}

@media (max-width: 575px) {
    .Modal__content--dark .close {
        color: #fff;
    }
}

/*=============================== 
----- CALLBACK BUTTON 
=================================*/

.Callback {
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 101;
}

.Callback.is-active {
    padding: 15px;
    background-color: #5d4037;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.Callback__link {
    padding: 15px;
    max-width: 245px;
    display: inline-block;
    background-color: #5d4037;    
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.Callback__link:hover {
    background-color: #432e28;
    text-decoration: none;
}

.Callback.is-active .Callback__link {
    padding: 5px 0 2px;
    position: absolute;
    top: 0;
    right: 15px;
    background: none;
    box-shadow: none;
    border-bottom: 2px dashed #fff;
}

.Callback.is-active .Callback__link:hover {
    border-bottom: 1px none;
}

.Callback__text {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
}

.Callback.is-active .Callback__text {
    font-size: 16px;
    line-height: 18px;
}

.Callback__form-block {
    display: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.Callback__form-group {
    padding: 10px 0;
}

.Callback__form-block .Button {
    margin-top: 20px;
}

.Callback__select {
    margin-top: 5px;
}

.Callback.is-active .Callback__form-block {
    margin-top: 15px;
    max-width: 440px;
    display: block;
}

.Callback__time {
    position: relative;
}

.Callback__time-item {
    margin: 0 0 3px 3px;
    display: inline-block;    
    text-align: center;    
}

.Callback__time-item input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Callback__time-item label {
    margin-bottom: 0;
    cursor: pointer;
}

.Form--dark .Callback__time-label {
    padding: 0 7px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;  
}

.Callback__radio:checked + label {
    background-color: #fff;
    color: #3e2723;
}

@media (max-width: 768px) {

    .Callback {
        top: 10px;
        bottom: auto;
        left: 10px;
        right: 10px;
    }

    .Callback.is-active {
        border-radius: 5px;
    }

    .Callback__link {
        border-radius: 5px;
    }

    .Callback.is-active .Callback__link {
        border-bottom: none;
    }
}

/*=============================== 
----- TOTAL MEDIA 
=================================*/

@media (max-width: 768px) {

    .section {
        padding: 60px 0 80px;
    }
}